

/* Style the tab */
.tabs__tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
}

.tabs_tabcontent-container{
  display: flex;
  justify-content: center;
}


/* Style the buttons that are used to open the tab content */
.tabs__tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
}

/* Change background color of buttons on hover */
.tabs__tablinks:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs__tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabs__tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
}

.tabs__tabcontent-condition{
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}